# AWS Configuration
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key

# Other Configuration
PORT=3002
ANYTHINGLLM_API_URL=http://localhost:3001
VECTOR_DB=weaviate
STORAGE_TYPE=local
